<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.number_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :dt_nascimento %><br>
    <%= f.datetime_select :dt_nascimento %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :endereco_id %><br>
    <%= f.number_field :endereco_id %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.number_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :nr_habilitacao %><br>
    <%= f.number_field :nr_habilitacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
