<div class="btn-group btn-group-justified">
  <%= link_to image_tag("carro.png", :alt => "rss feed"), lista_carros_path %>
  <%= link_to image_tag("moto.png", :alt => "rss feed"), lista_motos_path %>
  <%= link_to image_tag("limo.png", :alt => "rss feed") %>  
  <%= image_tag("4x4.png", :alt => "rss feed") %>
  <%= image_tag("cabine_estendida.png", :alt => "rss feed") %>
  <%= image_tag("van2.png", :alt => "rss feed") %>
  <%= link_to image_tag("van.png", :alt => "rss feed"), lista_van_path %>
  <%= image_tag("frete.png", :alt => "rss feed") %>
  <%= image_tag("carro.png", :alt => "rss feed") %>
</div>