<!DOCTYPE html>
<html lang="en">

<body>
<!-- <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
    <li data-slide-to="1" data-target="#carousel-example-generic" class="active"></li>
    <li data-slide-to="2" data-target="#carousel-example-generic" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item">
      <%= image_tag("carrocel1.jpg", :style => "width: 1400px; height: 500px;", :alt => "First slide") %>       
    </div>
    <div class="item active">
      <%= image_tag("carrocel2.jpeg", :style => "width: 1400px; height: 500px;", :alt => "Second slide") %>       
    </div>
    <div class="item">
      <%= image_tag("carrocel3.jpeg", :style => "width: 1400px; height: 500px;", :alt => "third slide") %>
    </div>
  </div>
  <a data-slide="prev" role="button" href="#carousel-example-generic" class="left carousel-control">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a data-slide="next" role="button" href="#carousel-example-generic" class="right carousel-control">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> -->
<br>
<div class="row">

  <div class="col-sm-8">
    <div class="panel panel-default">  
      <div class="panel-body">
        <div class="col-sm-8">
          <h1>Consulte um veiculo</h1>
          <strong>Campo 1</strong>
          <br>
          <input class="form-control" >
          <br><br>
          <strong>Campo 2</strong>
          <br>
          <input class="form-control" >
          <br><br> 
          <strong>Campo 3</strong>
          <br>
          <input class="form-control" >
          <br><br>
          <button class="btn btn-primary btn-lg">Consultar</button>          
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="row-1">
          <%= link_to image_tag("carro.png", :alt => "rss feed"), lista_carros_path %>
          <%= link_to image_tag("moto.png", :alt => "rss feed"), lista_motos_path %>
          <%= link_to image_tag("limo.png", :alt => "rss feed") %>  
        </div>
        <div class="row-2">
          <%= image_tag("4x4.png", :alt => "rss feed") %>
          <%= image_tag("cabine_estendida.png", :alt => "rss feed") %>
          <%= image_tag("van2.png", :alt => "rss feed") %>
        </div> 
        <div class="row-3">
          <%= link_to image_tag("van.png", :alt => "rss feed"), lista_van_path %>
          <%= image_tag("frete.png", :alt => "rss feed") %>
          <%= image_tag("carro.png", :alt => "rss feed") %>
        </div>           
      </div>
  </div>
</div>     



</body>
</html>        


