<ul role="tablist" class="nav nav-tabs">  
  <li class="active"><a data-toggle="tab" href="#carros"><%= link_to 'Carros', lista_carros_path %></a></li>
  <li><a data-toggle="tab" href="#motos"><%= link_to 'Motos', lista_motos_path %></a></li>
  <li><a data-toggle="tab" href="#motos"><%= link_to 'Vans', lista_motos_path %></a></li>
  <li><a data-toggle="tab" href="#motos"><%= link_to 'Minivans', lista_motos_path %></a></li>
  <li><a data-toggle="tab" href="#motos"><%= link_to '4x4', lista_motos_path %></a></li>
  <li><a data-toggle="tab" href="#motos"><%= link_to 'Limosine', lista_motos_path %></a></li>
  <li><a data-toggle="tab" href="#motos"><%= link_to 'Frete', lista_motos_path %></a></li>
</ul>
<br>

  <div id="carros">
    <% @carros.each do |carro| %>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag carro.foto.url(:medium) %>  
            <div class="caption">            
              
              <strong>Marca: </strong><%= carro.marca %><br>
              <strong>Ano: </strong><%= carro.ano %><br>
              <strong>Modelo: </strong><%= carro.modelo %><br>
              <strong>Cor: </strong><%= carro.cor %><br>          
              <strong>Diaria: </strong>R$ <%= carro.valor_diaria %><br>
              
              <br>
              <p>
                <%= link_to 'Alugar', new_aluguel_path(:veiculo_id => carro.id), class: "btn btn-primary" %>
                <%= link_to 'Detalhes', carro,  remote: true, class: "btn btn-default", 'data-toggle' => 'modal', 'data-target' => '#myModal'%>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>