<%= simple_form_for(@aluguel) do |f| %>
  <% if @aluguel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluguel.errors.count, "error") %> prohibited this aluguel from being saved:</h2>

      <ul>
      <% @aluguel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <head>

    <div class="field">
      <%= f.label :cliente_id %><br>
      <%= f.collection_select(:cliente_id, @clientes, :id, :nome, :prompt => true, id: "simple_example" ) %>
    </div>

    <div class="field">      
      <%= f.label :veiculo_id %><br>
      <%= f.collection_select(:veiculo_id, @veiculos, :id, :marca, :prompt => true, :class => 'form-control' ) %>
    </div>

    <div class="field">
      <%= f.label :dt_recebimento %><br>
      <%= f.datetime_select :dt_recebimento %>
    </div>

    <div class="field">
      <%= f.label :dt_devolucao %><br>
      <%= f.datetime_select :dt_devolucao %>
    </div>

    <div class="field">
      <%= f.label :preco_total %><br>
      <%= f.text_field :preco_total %>
    </div>
    
  </div>
  <div class="actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
 
 <br>
<% end %>