<h1>Alugueis</h1>
<%= link_to 'Novo Aluguel', new_aluguel_path, class: "btn btn-default pull-right" %>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Veiculo</th>
      <th>Dt recebimento</th>
      <th>Dt devolucao</th>
      <th>Preco total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alugueis.each do |aluguel| %>
      <tr>
        <td><%= aluguel.cliente.nome %></td>
        <td><%= aluguel.veiculo.modelo %></td>
        <td><%= aluguel.dt_recebimento %></td>
        <td><%= aluguel.dt_devolucao %></td>
        <td><%= aluguel.preco_total %></td>
        <td>
          <%= link_to '', aluguel, remote: true, class: "glyphicon glyphicon-search", 'data-toggle' => 'modal', 'data-target' => '#myModal'  %>
        </td>
        <td>
          <%= link_to '', edit_aluguel_path(aluguel), class: "glyphicon glyphicon-edit" %>
        </td>
        <td>
          <%= link_to '', aluguel, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove-circle" %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<br>


