<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @aluguel.cliente.nome %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @aluguel.veiculo.modelo %>
</p>

<p>
  <strong>Dt recebimento:</strong>
  <%= @aluguel.dt_recebimento %>
</p>

<p>
  <strong>Dt devolucao:</strong>
  <%= @aluguel.dt_devolucao %>
</p>

<p>
  <strong>Preco total:</strong>
  <%= @aluguel.preco_total %>
</p>

