<div class="panel panel-info">
	<div class="panel-body">

		<p>
			<strong>Número da reserva:</strong>
			<%= @aluguel.id %>
		</p>

		<p>
			<strong>Cliente:</strong>
			<%= @aluguel.cliente.nome %>
		</p>

		<p>
			<strong>Veículo:</strong>
			<%= @aluguel.veiculo.modelo %>
		</p>
		
		<p>
			<strong>Locadora:</strong>
			<%= @aluguel.veiculo.locadora.nome %>
		</p>

		<p>
			<strong>Data do recebimento:</strong>
			<%= @aluguel.dt_recebimento.strftime("%d/%m/%Y") %>
		</p>

		<p>
			<strong>Data da devolução:</strong>
			<%= @aluguel.dt_devolucao.strftime("%d/%m/%Y") %>
		</p>

		<p>
			<strong>Valor total:</strong>
			<%= @aluguel.preco_total %>
		</p>
		
		
		<%= link_to 'Retornar', home_path, class: "btn btn-default btn-sm" %>

	</div>
</div>
