<%= simple_form_for(@opcional) do |f| %>
  <% if @opcional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opcional.errors.count, "error") %> prohibited this opcional from being saved:</h2>

      <ul>
      <% @opcional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.input :descricao, label: 'Descricao', input_html: {class: 'form-control'} %><br>
    <%= f.input :nome, label: 'Nome', input_html: {class: 'form-control'} %><br>
    <%= f.input :valor, label: 'Valor', input_html: {class: 'form-control'} %><br>
    
    <!-- Veiculo não deve ser relacionado na criação de um opcional, somente na associação -->
    <!-- <div class="field">
      <%= f.label :veiculo_id %><br>
      <%= f.collection_select(:veiculo_id, @veiculos, :id, :modelo, :prompt => true, :class => 'form-control' ) %>
    </div> -->

    
  </div>
  <div class="actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
 
 <br>
 <% end %>



