<%= simple_form_for(@opcional) do |f| %>
  <% if @opcional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opcional.errors.count, "error") %> prohibited this opcional from being saved:</h2>

      <ul>
      <% @opcional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.input :descricao, label: 'Descrição', input_html: {class: 'form-control'} %><br>
    <%= f.input :nome, label: 'Nome', input_html: {class: 'form-control'} %><br>
    <%= f.input :valor, label: 'Valor', input_html: {class: 'form-control'} %><br>
    <%= f.file_field :foto %>
    <%= f.hidden_field :locadora_id, :value => current_user.locadora_id%>
  </div>
  <div class="actions">
    <%= f.button :submit,"Salvar", class: 'btn btn-success' %>
    <%= link_to 'Voltar', opcionais_path(:locadora_id => current_user.locadora_id), class: "btn btn-default"  %>
  </div>
 
 <br>
 <% end %>



