<h1>Opcionais</h1>
<%= link_to 'Cadastrar Opcional', new_opcional_path, class: "btn btn-default pull-right" %>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Nome</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opcionais.each do |opcional| %>
      <tr>
        <td><%= opcional.descricao %></td>
        <td><%= opcional.nome %></td>
        <td><%= opcional.valor %></td>       
        <td>
          <%= link_to '', opcional,  remote: true, class: "glyphicon glyphicon-search", 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
        </td>

        <td><%= link_to '', edit_opcional_path(opcional), class: "glyphicon glyphicon-edit" %></td>

        <td><%= link_to '', opcional, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "glyphicon glyphicon-remove-circle" %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<br>


