<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.marca %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @veiculo.ano %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @veiculo.cor %>
</p>

<p>
  <strong>Locadora:</strong>
  <%= @veiculo.locadora.nome %>
</p>

<p>
  <strong>Alugado:</strong>
  <%= @veiculo.alugado %>
</p>

<p>
  <strong>Valor diaria:</strong>
  <%= @veiculo.valor_diaria %>
</p>

<p>
  <strong>Garagem:</strong>
  <%= @veiculo.garagem.nome %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @veiculo.categoria.nome %>
</p>


<%= link_to 'Editar', edit_veiculo_path(@veiculo), class: "btn btn-default btn-sm" if can? :manage, Veiculo %>
