<%= simple_form_for(@categoria) do |f| %>
  <% if @categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

      <ul>
      <% @categoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.input :nome, label: 'Nome', input_html: {class: 'form-control'} %><br>
    <%= f.input :capacidade_passageiros, label: 'Capacidade de Passageiros ', input_html: {class: 'form-control'} %><br>
    <%= f.input :qt_bagabem_pequena, label: 'Quantidade de Bagagem Pequena ', input_html: {class: 'form-control'} %><br>
    <%= f.input :qt_bagabem_grande, label: 'Quantidade de Bagagem Grande ', input_html: {class: 'form-control'} %><br>

    </div>
  <div class="actions">
    <%= f.button :submit,"Salvar", class: 'btn btn-success' %>
  </div>

  <br> 
<% end %>
