<h1>Categorias</h1>

<%= link_to 'Cadastrar Categoria', new_categoria_path, class: "btn btn-default pull-right" %>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Capacidade passageiros</th>
      <th>Quantidade de bagabem pequena</th>
      <th>Quantidade de bagabem grande</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.nome %></td>
        <td><%= categoria.capacidade_passageiros %></td>
        <td><%= categoria.qt_bagabem_pequena %></td>
        <td><%= categoria.qt_bagabem_grande %></td>

        <td>
          <%= link_to '', categoria,  remote: true, class: "glyphicon glyphicon-search", 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
        </td>

        <td><%= link_to '', edit_categoria_path(categoria), class: "glyphicon glyphicon-edit" %></td>

        <td><%= link_to '', categoria, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove-circle" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


