<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categoria.nome %>
</p>

<p>
  <strong>Capacidade passageiros:</strong>
  <%= @categoria.capacidade_passageiros %>
</p>

<p>
  <strong>Qt bagabem pequena:</strong>
  <%= @categoria.qt_bagabem_pequena %>
</p>

<p>
  <strong>Qt bagabem grande:</strong>
  <%= @categoria.qt_bagabem_grande %>
</p>

<%= link_to 'Edit', edit_categoria_path(@categoria) %> |
<%= link_to 'Back', categorias_path %>
