<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categoria.nome %>
</p>

<p>
  <strong>Capacidade passageiros:</strong>
  <%= @categoria.capacidade_passageiros %>
</p>

<p>
  <strong>Quantidade de bagabem pequena:</strong>
  <%= @categoria.qt_bagagem_pequena %>
</p>

<p>
  <strong>Quantidade de bagabem grande:</strong>
  <%= @categoria.qt_bagagem_grande %>
</p>

<%= link_to 'Editar', edit_categoria_path(@categoria), class: "btn btn-default btn-sm" %>

