<%= simple_form_for(@endereco) do |f| %>
  <% if @endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% @endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.input :cep, label: 'CEP', input_html: {class: 'form-control'} %><br>
    <%= f.input :rua, label: 'Rua', input_html: {class: 'form-control'} %><br>
    <%= f.input :bairro, label: 'Bairro', input_html: {class: 'form-control'} %><br>
    <%= f.input :numero, label: 'Numero', input_html: {class: 'form-control'} %><br>
    <%= f.input :cidade, label: 'Cidade', input_html: {class: 'form-control'} %><br>
    <%= f.input :estado, label: 'Estado', input_html: {class: 'form-control'} %><br>

  </div>
  <div class="actions">
    <%= f.button :submit,"Salvar", class: 'btn btn-success' %>
    <%= link_to 'Voltar', enderecos_path, class: "btn btn-default"  %>
  </div>
 
 <br>
<% end %>