<h1>Endereços</h1>
<%= link_to 'Cadastrar Endereço', new_endereco_path, class: "btn btn-default pull-right" %>
<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cep</th>
      <th>Rua</th>
      <th>Bairro</th>
      <th>Numero</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enderecos.each do |endereco| %>
      <tr>
        <td><%= endereco.cep %></td>
        <td><%= endereco.rua %></td>
        <td><%= endereco.bairro %></td>
        <td><%= endereco.numero %></td>
        <td><%= endereco.cidade %></td>
        <td><%= endereco.estado %></td>
        <td>
          <%= link_to '', endereco,  remote: true, class: "glyphicon glyphicon-search", 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
        </td>

        <td><%= link_to '', edit_endereco_path(endereco), class: "glyphicon glyphicon-edit" %></td>

        <td><%= link_to '', endereco, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "glyphicon glyphicon-remove-circle" %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<br>


