<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @locadora.cnpj %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @locadora.nome %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @locadora.responsavel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @locadora.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @locadora.telefone %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @locadora.endereco.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @locadora.endereco.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @locadora.endereco.bairro %>
</p>

<p>
  <strong>Número:</strong>
  <%= @locadora.endereco.numero %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @locadora.endereco.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @locadora.endereco.estado %>
</p>

<%= link_to 'Editar', edit_locadora_path(@locadora),class: "btn btn-primary btn-sm"  %>
<%= link_to 'Voltar', locadoras_path, class: "btn btn-primary btn-sm"  %>
