<div class="panel panel-default">  
  <div class="panel-body">
  <h2>Editar Conta</h2>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
  <div class="col-sm-8">
    <div class="form-inputs">
      <strong>E-mail</strong>
      <%= f.email_field :email, required: true, autofocus: true, :class => "form-control" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <br>
      <strong>Nova Senha</strong>
      <%= f.input_field :password, autocomplete: "off", required: false, :class => "form-control" %>
      <br>
      <strong>Confirmar Nova Senha</strong>
      <%= f.input_field :password_confirmation, required: false, :class => "form-control" %>
      <br>
      <strong>Senha Antiga</strong>
      <%= f.input_field :current_password, hint: "we need your current password to confirm your changes", required: true, :class => "form-control" %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Atualizar", :class=>'btn btn-primary' %>
    </div>
  <% end %>
  <br>
  <p><%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>
  <br>
  <%= link_to "Voltar", :back, :class=>'btn btn-default' %>
  </div>
  </div>
</div>
